# bash colors
alias 0='t.setTerminalColor && clear'   #reset
alias 1='t.setTerminalColor 1 && clear' #red
alias 2='t.setTerminalColor 2 && clear' #green
alias 3='t.setTerminalColor 3 && clear' #yellow
alias 4='t.setTerminalColor 4 && clear' #blue
alias 5='t.setTerminalColor 5 && clear' #pink
alias 6='t.setTerminalColor 6 && clear' #cyan
alias 7='t.setTerminalColor 7 && clear' #white
alias 8='t.setTerminalColor 8 && clear' #black

alias rst='t.setTerminalColor && clear'
alias red='t.setTerminalColor red && clear'
alias blue='t.setTerminalColor blue && clear'
alias yellow='t.setTerminalColor yellow && clear'
alias green='t.setTerminalColor green && clear'
alias cyan='t.setTerminalColor cyan && clear'
alias pink='t.setTerminalColor magenta && clear'
alias white='t.setTerminalColor 7 && clear'
alias black='t.setTerminalColor 8 && clear'

# show shortcuts
alias sc='cat ~/.aliases | egrep -v "^\s*(#|$)"'
alias sck='cat /usr/share/doc/byobu/help.tmux.txt'
alias ea='nano ~/.dotfiles/.aliases'
alias ef='nano ~/.dotfiles/.functions'
# Easier navigation: .., ..., ...., .....
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias e='exit'
alias c='printf "\033c"'
alias b='cd -'

# Folder Shortcuts
alias d='cd ~/Downloads'
alias w='cd $DOTFILES_WORKSPACE_PATH'

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Get week number
alias week='date +%V'

# source single dotfiles
alias sz='source ~/.zshrc && echo "reloaded zsh"'
alias st='tmux source-file ~/.tmux.conf && echo "reloaded tmux"'

# debian and ubuntu
alias uu='sudo apt-get update && sudo apt-get upgrade -y'
alias ui='sudo apt-get install '
alias us='sudo apt-cache search '

# untar
alias untar='tar -zxvf '

# webserver from current folder
alias webserver='python -m SimpleHTTPServer 8000'

# network
alias ip.ext='curl ipinfo.io/ip'
alias ip.lan='ifconfig eth0 | grep 'inet addr' | cut -d: -f2 | awk '{print $1}''
alias ip.wlan='ifconfig wlp3s0 | grep 'inet addr' | cut -d: -f2 | awk '{print $1}''
alias ip.scan='nmap -sP '

# password generation
alias p8='openssl rand -base64 8'
alias p16='openssl rand -base64 16'
alias p32='openssl rand -base64 32'

# git
alias gs='git status'
alias gc='git checkout '
alias gb='git branch -vv'
alias gp='git pull '
alias gac='git add . && git commit -a -m '
alias gpsh='git push '
alias gr='git reset --hard && git clean -f'

# git confie
alias gitconfmail='git config --global user.email '
alias gitconfname='git config --global user.name '

# system
# *  sudo apt-get lm-sensors
alias sys.temp='sensors | grep Core'

# network
alias sys.ports='sudo netstat -tulanp'

#virtualbox guest
alias vbox.reset='sudo killall VBoxClient && VBoxClient-all'
