# Easier navigation: .., ..., ...., .....
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias e="exit"
alias c='clear'

# Folder Shortcuts
alias d="cd ~/Downloads"
alias w="cd ~/workspace"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

# Get week number
alias week='date +%V'

# source zsh
alias sz='source ~/.zshrc && echo "reloaded zsh"'

# debian and ubuntu
alias uu='sudo apt-get update && sudo apt-get upgrade -y'
alias ui='sudo apt-get install '
alias us='sudo apt-cache search '

# untar
alias untar='tar -zxvf '

# webserver from current folder
alias webserver='python -m SimpleHTTPServer 8000'

# showip
alias ip.ext='curl ipinfo.io/ip'
alias ip.lan='ifconfig eth0 | grep 'inet addr' | cut -d: -f2 | awk '{print $1}''
alias ip.wlan='ifconfig wlp3s0 | grep 'inet addr' | cut -d: -f2 | awk '{print $1}''

# password generation
alias p8='openssl rand -base64 8'
alias p16='openssl rand -base64 16'
alias p32='openssl rand -base64 32'

# git
alias gac='git add . && git commit -a -m '
alias gp='git push '
